@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font for the pages as well as the colors that will be used.*/
    font-family: 'Lora', 'Times New Roman', Times, serif;
    --bg-primary: rgb(43, 65, 98);
    --bg-secondary: rgb(126, 141, 133);
    --font-color-primary: rgb(179, 191, 184);
    --font-color-secondary: rgb(240, 247, 244);
    --backup-color: rgb(244, 116, 59);
}

body{
    background-color: var(--bg-primary);
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    padding: 0 50px;
    border: 3px solid var(--bg-secondary);
    border-radius: 10px;
}

header 